﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
   

    <title>Projeler.Com | İyi Fikirlerin Buluşma Adresi</title>
    
    <link href="~/Content/css/components.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/icons.css">
    <link rel="stylesheet" href="~/Content/css/responsee.css">
    <link rel="stylesheet" href="~/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/owl-carousel/owl.theme.css">
 
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="~/Content/css/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/js/validation.js"></script> 

</head>


    <body class="size-1140">

        <!-- HEADER -->
        <header role="banner">
           
            <!-- Top Navigation -->
            <nav class="background-white background-primary-hightlight">
                <div class="line">
                    <div class="s-12 l-2">
                       <img src="~/Content/img/logo.png" alt="">
                    </div>
                    <div class="top-nav s-12 l-10">
                        <p class="nav-text"></p>
                        <ul class="right chevron">
                            <li> @Html.ActionLink(Resources.Home.anasayfa, "Index", "Home")</li>
                            <li>@Html.ActionLink(Resources.Home.hakkımızda, "Hakkimizda", "Home")</li>
                            <li>
                                <a>Diller(Languages)</a>
                                <ul>

                                    <li> @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                                    <li> @Html.ActionLink("Türkce", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Yazilar", "Home", new { sayfa = 1})">@Resources.Home.yazilar</a></li>

                            <li><a href="@Url.Action("Projeler", "Home", new { sayfa = 1})">@Resources.Home.projeler</a></li>
                            @Html.Partial("_LoginPartial")
                           
                            <li>@Html.ActionLink(Resources.Home.iletisim, "Iletisim", "Home")</li>
                          
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- MAIN -->
        <main role="main">
            <!-- Main Carousel -->
         @RenderBody()

        </main>

        <!-- FOOTER -->
        
        <footer>
            <!-- Social -->
            <div class="background-primary padding text-center">
                <a href="/"><i class="icon-facebook_circle icon2x text-white"></i></a>
                <a href="/"><i class="icon-twitter_circle icon2x text-white"></i></a>
                <a href="/"><i class="icon-google_plus_circle icon2x text-white"></i></a>
                <a href="/"><i class="icon-instagram_circle icon2x text-white"></i></a>
            </div>

            <!-- Main Footer -->
            <section class="section background-dark">
                <div class="line">
                    <div class="margin">
                        <!-- Collumn 1 -->
                        <div class="s-12 m-12 l-4 margin-m-bottom-2x">
                            <h4 class="text-uppercase text-strong">@Resources.Home.felsefemiz</h4>
                            <p class="text-size-20"><em>@Resources.Home.iyiprojelerin</em><p>

                                <div class="line">
                                    <h4 class="text-uppercase text-strong margin-top-30">@Resources.Home.hakkımızda</h4>
                                    <div class="margin">
                                        <div class="s-12 m-12 l-4 margin-m-bottom">
                                            <a class="image-hover-zoom" href="/"><img src="~/Content/img/blog-04.jpg" alt=""></a>
                                        </div>
                                        <div class="s-12 m-12 l-8 margin-m-bottom">
                            <p>@Resources.Home.fikirlerinizedeğerveren,</p>
                            <a class="text-more-info text-primary-hover" href="/">@Resources.Home.dahafazla</a>
                        </div>
                    </div>
                </div>
                </div>

                <!-- Collumn 2 -->
                <div class="s-12 m-12 l-4 margin-m-bottom-2x">
                    <h4 class="text-uppercase text-strong">@Resources.Home.bizeulasın</h4>
                    <div class="line">
                        <div class="s-1 m-1 l-1 text-center">
                            <i class="icon-placepin text-primary text-size-12"></i>
                        </div>
                        <div class="s-11 m-11 l-11 margin-bottom-10">
                            <p><b>Adress:</b> Serdivan , Sakarya, TR</p>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-1 m-1 l-1 text-center">
                            <i class="icon-mail text-primary text-size-12"></i>
                        </div>
                        <div class="s-11 m-11 l-11 margin-bottom-10">
                            <p><a href="/" class="text-primary-hover"><b>@Resources.Home.mailadresiniz:</b> ebubekir.duran@ogr.sakarya.edu.tr</a></p>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-1 m-1 l-1 text-center">
                            <i class="icon-smartphone text-primary text-size-12"></i>
                        </div>
                        <div class="s-11 m-11 l-11 margin-bottom-10">
                            <p><b>Phone:</b> 0538 000 00 00</p>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-1 m-1 l-1 text-center">
                            <i class="icon-twitter text-primary text-size-12"></i>
                        </div>
                        <div class="s-11 m-11 l-11 margin-bottom-10">
                            <p><a href="/" class="text-primary-hover"><b>Twitter</b></a></p>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-1 m-1 l-1 text-center">
                            <i class="icon-facebook text-primary text-size-12"></i>
                        </div>
                        <div class="s-11 m-11 l-11">
                            <p><a href="/" class="text-primary-hover"><b>Facebook</b></a></p>
                        </div>
                    </div>
                </div>

                <!-- Collumn 3 -->
                <div class="s-12 m-12 l-4">
                    <h4 class="text-uppercase text-strong">@Resources.Home.mesajbırakın</h4>
                    <form class="customform text-white">
                        <div class="line">
                            <div class="margin">
                                <div class="s-12 m-12 l-6">
                                    <input name="email" class="required email border-radius" placeholder="@Resources.Home.mailadresiniz" title="Your e-mail" type="text" />
                                </div>
                                <div class="s-12 m-12 l-6">
                                    <input name="name" class="name border-radius" placeholder="@Resources.Home.adınız title="Your name" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="s-12">
                            <textarea name="message" class="required message border-radius" placeholder="@Resources.Home.mesajınız" rows="3"></textarea>
                        </div>
                        <div class="s-12"><button class="submit-form button background-primary border-radius text-white" type="submit">@Resources.Home.gönder</button></div>
                    </form>
                </div>
                </div>
                </div>
            </section>
            <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">

            <!-- Bottom Footer -->
         
        </footer>



        <script type="text/javascript" src="~/Content/js/responsee.js"></script>
        <script type="text/javascript" src="~/owl-carousel/owl.carousel.js"></script>
        <script type="text/javascript" src="~/Content/js/template-scripts.js"></script>
    </body>


   


</html>
