﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

 
        <li>
            @Html.ActionLink(Resources.Home.merhaba + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
       <ul>
           <li>@Html.ActionLink(Resources.Home.yönetim, "AdminHome", "Admin")</li>
           <li>@Html.ActionLink(Resources.Home.projeekle, "ProjeEkle", "Home")</li>

       </ul>
        
        
         </li>

        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Home.cikisyap</a></li>
   
    }
}
else
{
    
        <li>@Html.ActionLink(Resources.Home.kayıtol, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Home.giris, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
   
}
