﻿@model List<g139010027_Proje.Models.Yazilar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Slider Tablosu</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                       
                        <th>Yazi Baslik</th>
                        <th>Yazi Detay</th>
                        <th>Yazi Tarih</th>
                        <th>Yazi Resim Yolu</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.YaziID</td>
                            
                            <td>@item.YaziBaslik </td>
                            <td>@item.YaziIcerik</td>
                            <td>@item.YaziTarih</td>
                            <td>@item.YaziResim</td>
                          
                            <td>@Html.ActionLink("Düzenle","Edit","Slider",new {id=item.YaziID }, null)|@Html.ActionLink("Sil", "Delete", "Slider", new { id = item.YaziID }, null)</td>

                        </tr>
                    }
                </tbody>
                <tfoot>
                   
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>

