﻿@model IEnumerable<g139010027_Proje.Models.Projeler>
@{
    Layout = null;

}

@foreach (var item in Model)
{


    <div class="s-12 m-12 l-4 margin-m-bottom">
        <img class="margin-bottom" src="@item.ProjeResim" alt="">
        <h2 class="text-thin">@item.ProjeAdi</h2>
        <p>@item.ProjeAciklama</p>
        <a class="text-more-info text-primary-hover" href="@Url.Action("ProjeDetay", "Home", new { id=item.ProjeID })">@Resources.Home.devaminioku</a>
    </div>


}