﻿@model IEnumerable<g139010027_Proje.Models.Yazilar>
@{
    Layout = null;
}


@foreach (var item in Model)
{
<div class="s-12 m-12 l-4 margin-m-bottom">
    <img class="margin-bottom" src="@item.YaziResim" alt="">
    <h2 class="text-thin">@item.YaziBaslik</h2>
    <p> @item.YaziIcerik  </p>
    <a class="text-more-info text-primary-hover" href="@Url.Action("YaziDetay", "Home", new { id=item.YaziID })">@Resources.Home.devaminioku</a>
</div>
}