﻿
@{
    ViewBag.Title = "Hakkimizda";
}

<main role="main">
    <!-- Content -->
    <article>
        <header class="section background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">@Resources.Home.hakkımızda</h1>
        </header>
        <div class="section background-white">
            <div class="line">
                <h2 class="text-size-30">@Resources.Home.güzelfikirlerin</h2>
                <p>@Resources.Home.hakkımızdaicerik
                    
                </p>
                <blockquote class="margin-top-bottom-20">
                   @Resources.Home.hakkımızdaicerik2
                </blockquote>
              
            </div>
        </div>
    </article>
</main>
