﻿

<section class="section background-dark">
    <div class="line">
        <div class="carousel-fade-transition owl-carousel carousel-main carousel-nav-white carousel-wide-arrows">
            <div class="item">
                <div class="s-12 center">
                    <img src="~/Content/img/01-boxed.jpg" alt="">
                    <div class="carousel-content">
                        <div class="padding-2x">
                            <div class="s-12 m-12 l-8">
                                <p class="text-white text-s-size-20 text-m-size-40 text-l-size-60 margin-bottom-40 text-thin text-line-height-1">Ebubekir Duran</p>
                                <p class="text-white text-size-16 margin-bottom-40">G130910027<br> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="s-12 center">
                    <img src="~/Content/img/02-boxed.jpg" alt="">
                    <div class="carousel-content">
                        <div class="padding-2x">
                            <div class="s-12 m-12 l-8">
                                <p class="text-white text-s-size-20 text-m-size-40 text-l-size-60 margin-bottom-40 text-thin text-line-height-1">@Resources.Home.sakaryaüniversitesi</p>
                                <p class="text-white text-size-16 margin-bottom-30">@Resources.Home.bilgiasayarfakültesi</p>
                                <p class="text-white text-size-16 margin-bottom-30">@Resources.Home.bilgisayarmühendisligi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 1 -->
<section class="section background-white">
    <h2 class="text-thin headline text-center text-s-size-20 margin-bottom-50"> <span class="text-primary">@Resources.Home.sonyazilar</span></h2>
    <div class="line">
        <div class="margin">
        
            @{Html.RenderAction("_SonYazilarIndex", "Home");}



        </div>
    </div>
</section>


<hr class="break margin-top-bottom-0">

<!-- Section 4 -->
<section class="section background-white">
    <div class="line">
        <h2 class="text-thin headline text-center text-s-size-30 margin-bottom-50"> <span class="text-primary">@Resources.Home.reklamalani</span></h2>
        <div class="carousel-default owl-carousel carousel-wide-arrows">
            <div class="item">
                <div class="margin">
                    <div class="s-12 m-12 l-6">
                        <div class="image-border-radius margin-m-bottom">
                            <div class="margin">
                                <div class="s-12 m-12 l-4 margin-m-bottom">
                                    <a class="image-hover-zoom" href="/"><img src="~/Content/img/blog-05.jpg" alt=""></a>
                                </div>
                                <div class="s-12 m-12 l-8 margin-m-bottom">
                                    <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                    <a class="text-more-info text-primary-hover" href="/">@Resources.Home.devaminioku</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="s-12 m-12 l-6">
                        <div class="image-border-radius">
                            <div class="margin">
                                <div class="s-12 m-12 l-4 margin-m-bottom">
                                    <a class="image-hover-zoom" href="/"><img src="~/Content/img/blog-03.jpg" alt=""></a>
                                </div>
                                <div class="s-12 m-12 l-8">
                                    <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                    <a class="text-more-info text-primary-hover" href="/">@Resources.Home.devaminioku</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="margin">
                    <div class="s-12 m-12 l-6">
                        <div class="image-border-radius margin-m-bottom">
                            <div class="margin">
                                <div class="s-12 m-12 l-4 margin-m-bottom">
                                    <a class="image-hover-zoom" href="/"><img src="~/Content/img/blog-04.jpg" alt=""></a>
                                </div>
                                <div class="s-12 m-12 l-8 margin-m-bottom">
                                    <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                    <a class="text-more-info text-primary-hover" href="/">@Resources.Home.devaminioku</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="s-12 m-12 l-6">
                        <div class="image-border-radius">
                            <div class="margin">
                                <div class="s-12 m-12 l-4 margin-m-bottom">
                                    <a class="image-hover-zoom" href="/"><img src="~/Content/img/blog-02.jpg" alt=""></a>
                                </div>
                                <div class="s-12 m-12 l-8">
                                    <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                    <a class="text-more-info text-primary-hover" href="/">@Resources.Home.devaminioku</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="margin">
                    <div class="s-12 m-12 l-6">
                        <div class="image-border-radius margin-m-bottom">
                            <div class="margin">
                                <div class="s-12 m-12 l-4 margin-m-bottom">
                                    <a class="image-hover-zoom" href="/"><img src="~/Content/img/blog-01.jpg" alt=""></a>
                                </div>
                                <div class="s-12 m-12 l-8 margin-m-bottom">
                                    <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                    <a class="text-more-info text-primary-hover" href="/">@Resources.Home.devaminioku</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="s-12 m-12 l-6">
                        <div class="image-border-radius">
                            <div class="margin">
                                <div class="s-12 m-12 l-4 margin-m-bottom">
                                    <a class="image-hover-zoom" href="/"><img src="~/Content/img/blog-06.jpg" alt=""></a>
                                </div>
                                <div class="s-12 m-12 l-8">
                                    <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                    <a class="text-more-info text-primary-hover" href="/">@Resources.Home.devaminioku</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="break margin-top-bottom-0">
<section class="section background-white">
    <div class="line">
        <h2 class="text-thin headline text-center text-s-size-16 margin-bottom-50"> <span class="text-primary">@Resources.Home.sonprojeler</span></h2>
        <div class="margin">
          
            
            @{Html.RenderAction("_SonProjelerIndex", "Home");}
         

        </div>
    </div>
</section>