﻿
@using PagedList
@using PagedList.Mvc
@model IPagedList<g139010027_Proje.Models.Projeler>
@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main">
    <!-- Content -->
    <article>
        <header class="section background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">@Resources.Home.projeleralani</h1>
        </header>
        <div class="section background-white">
            <div class="line">
                <div class="margin text-center">

                    @foreach (var item in Model)
                    {
                        <div class="s-12 m-12 l-4 margin-bottom">
                            <div class="padding-2x block-bordered border-radius">
                                <img class="margin-bottom" src="@item.ProjeResim" alt="">
                                <h2 class="text-thin">@item.ProjeAdi</h2>
                                <p class="margin-bottom-30">@item.ProjeAciklama</p>
                                <a class="button border-radius background-primary text-size-12 text-white text-strong" href="@Url.Action("ProjeDetay", "Home", new { id=item.ProjeID })">@Resources.Home.devaminioku</a>
                            </div>
                        </div>
                    }
                </div>

                <div class="pagedList">
                    @Html.PagedListPager(Model, sayfa => Url.Action("Projeler", new { sayfa }), PagedListRenderOptions.PageNumbersOnly)
                </div>
            </div>

        </div>
    </article>
</main>

