﻿@model g139010027_Proje.Areas.Admin.Models.ProjeModel
@{
    ViewBag.Title = "ProjeEkle";
}



<main role="main">
    <!-- Content -->
    <article>
        <header class="section background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">@Resources.Home.projeekle</h1>
        </header>
        <div class="section background-white">
            <div class="line">
                <div class="margin">

                  
                    <div class="s-12 m-12 l-6">
                     
                        @using (Html.BeginForm("AddProje", "Proje", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {


        <!-- general form elements disabled -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                   
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProjeAdi)</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.ProjeAdi, new { @class = "form-control", placeholder = "Proje Adı :" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProjeAciklama) </label>
                                            <div class="col-sm-6">
                                                @Html.TextAreaFor(m => m.ProjeAciklama, new { @class = "form-control", placeholder = "Açıklama: " })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProjeTarih)</label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.ProjeTarih, new { @class = "form-control datepicker", placeholder = "Gün/Ay/Yıl", id = "datemask" })
                                                </div>

                                            </div><!-- /.input group -->
                                        </div><!-- /.form group -->



                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProjeResim)</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.ProjeResim, new { @class = "form-control", placeholder = "Proje Resmi", type = "file" })
                                            </div>
                                        </div>


                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <div class="btn-toolbar">
                                                        <button type="submit" class="btn btn-default">İPTAL</button>
                                                        <button type="submit" class="btn btn-primary pull-right">EKLE</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>

                        }
                      



                    </div>


                </div>
            </div>
        </div>
    </article>
   
    
</main>
