﻿
@using PagedList
@using PagedList.Mvc
@model IPagedList<g139010027_Proje.Models.Yazilar>
@{
    ViewBag.Title = "Yazilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main">
    <!-- Content -->
    <article>
        <header class="section background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">@Resources.Home.yazilaralani</h1>
        </header>
        <div class="section background-white">
            <div class="line">
                <div class="margin text-center">
                  
                    @foreach (var item in Model)
                    {
                      <div class="s-12 m-12 l-4 margin-bottom">
                        <div class="padding-2x block-bordered border-radius">
                            <img class="margin-bottom" src="@item.YaziResim" alt="">
                            <h2 class="text-thin">@item.YaziBaslik</h2>
                            <p class="margin-bottom-30">@item.YaziIcerik</p>
                            <a class="button border-radius background-primary text-size-12 text-white text-strong" href="@Url.Action("YaziDetay", "Home", new { id=item.YaziID })">@Resources.Home.devaminioku</a>
                        </div>
                    </div>
                    }
                </div>

                <div class="pagedList">
                    @Html.PagedListPager(Model, sayfa => Url.Action("Yazilar", new { sayfa }), PagedListRenderOptions.PageNumbersOnly)
                </div>
            </div>

            </div>
    </article>
</main>

