﻿@model g139010027_Proje.Models.Yazilar
@{
    ViewBag.Title = "YaziDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main role="main">
    <!-- Content -->
    <article>
        <header class="section background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">@Html.DisplayFor(model => model.YaziBaslik)</h1>
        </header>
        <div class="section background-white">
            <div class="line">

                <img src="@Html.DisplayFor(model => model.YaziResim)"style="margin:auto;"  />
                <p>
              
                </p>
                <blockquote class="margin-top-bottom-20">
                    @Html.DisplayFor(model => model.YaziIcerik)
                    
                </blockquote>
              
               
            </div>
        </div>
    </article>
</main>
