﻿@model g139010027_Proje.Areas.Admin.Models.ProjeModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>
   Proje Ekleme
</h1>
@using (Html.BeginForm("AddProje", "Proje", FormMethod.Post, new { @class = "form-horizontal",enctype="multipart/form-data" }))
{
     
   
        <!-- general form elements disabled -->
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Yeni Slider Ekleme</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProjeAdi)</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.ProjeAdi, new { @class = "form-control", placeholder = "Proje Adı :" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProjeAciklama) </label>
                        <div class="col-sm-6">
                            @Html.TextAreaFor(m => m.ProjeAciklama, new { @class = "form-control", placeholder = "Açıklama: " })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProjeTarih)</label>
                    <div class="col-sm-6">
                         <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                                    </div>
        @Html.TextBoxFor(m => m.ProjeTarih, new { @class = "form-control datepicker", placeholder = "Gün/Ay/Yıl", id = "datemask" })
    </div>

</div><!-- /.input group -->
                    </div><!-- /.form group -->
                        

            
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProjeResim)</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.ProjeResim, new { @class = "form-control", placeholder = "Proje Resmi", type = "file" })
                        </div>
                    </div>


                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn btn-default">İPTAL</button>
                                    <button type="submit" class="btn btn-primary pull-right">EKLE</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>    
            </div>  
         
            </div>
       
        }
    @section plugincss{
        <link rel="stylesheet" href="~/Areas/Content/plugins/timepicker/bootstrap-timepicker.css">
<link rel="stylesheet" href="~/Areas/Content/plugins/timepicker/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="~/Areas/Content/plugins/datepicker/datepicker3.css">

        }
@section jsplugin{
    <link rel="stylesheet" href="~/Areas/Content/plugins/timepicker/bootstrap-timepicker.min.js">
<link rel="stylesheet" href="~/Areas/Content/plugins/timepicker/bootstrap-timepicker.js">
<link rel="stylesheet" href="~/Areas/Content/plugins/datepicker/bootstrap-datepicker.js">
<link rel="stylesheet" href="~/Areas/Content/plugins/daterangepicker/daterangepicker.js">
<link rel="stylesheet" href="~/Areas/Content/plugins/datepicker/locales/bootstrap-datepicker.tr.js">



    }
@section scripts{
    <script type="text/javascript">
        $("#datemask").inputmask("dd/mm/yyyy", { "placeholder": "Gün/Ay/Yıl" });

    </script>
    
}
