﻿@model g139010027_Proje.Models.Projeler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Sil</h2>
Silmek istediğinize emin misiniz?
<br/>
Adi :  
@Model.ProjeAdi
olan projeyi silmeyi
<br />
<h3>@Html.ActionLink("Kabul Ediyorum.", "DeleteConfirm", new { id = Model.ProjeID })
</h3>
<h3>@Html.ActionLink("Kabul Etmiyorum.", "Index")
</h3>



