﻿@model List<g139010027_Proje.Models.Projeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Slider Tablosu</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                       
                        <th>Proje Baslik</th>
                        <th>Proje Detay</th>
                        <th>Proje Tarih</th>
                        <th>Proje Resim Yolu</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProjeID</td>
                            
                            <td>@item.ProjeAdi </td>
                            <td>@item.ProjeAciklama</td>
                            <td>@item.ProjeTarih</td>
                            <td>@item.ProjeResim</td>
                          
                            <td>@Html.ActionLink("Düzenle","Edit","Proje",new {id=item.ProjeID }, null)|@Html.ActionLink("Sil", "Delete", "Proje", new { id = item.ProjeID }, null)</td>

                        </tr>
                    }
                </tbody>
                <tfoot>
                   
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>

